name: test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    name: Docker Test
    runs-on: ubuntu-24.04

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build test image
        run: |
          docker build --target builder -t imagor-test .

      - name: Run tests in Docker
        run: |
          docker run --rm \
            -v ${{ github.workspace }}/testdata:/workspace/testdata \
            -w /go/src/github.com/cshum/imagor \
            imagor-test \
            sh -c "go test ./... -v"

      - name: Commit golden files
        if: github.event_name == 'pull_request'
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "test: update golden files"
          file_pattern: "testdata/golden"

      - name: Run coverage in Docker
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/workspace \
            -w /go/src/github.com/cshum/imagor \
            imagor-test \
            sh -c "go test ./... -coverprofile=/workspace/profile.cov"

      - name: Coveralls
        uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: profile.cov
